@charset "utf-8";

/*===============================================================================================================   

Author      : Muhammad Febriansyah

Built       : Desember 2016

=============================================================================================================== */



@media all and (max-width:767px){

    

    /* header

    ================================================================================================================= */

    /* middle homepage

    ================================================================================================================= */
    .wrapper, .mid-wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
\
	/* middle contentpage

    ================================================================================================================= */
   
    /* footer

    ================================================================================================================= */
	
	
	
	
}
